<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <header>
    <h1>Mantenimiento empresa</h1>
    <nav class="naevgacion">
      <ul>
        <li><a routerLink="/personal">Registro de personal</a></li>
        <li><a routerLink="/register">Registro de Mantenimiento</a></li>
        <li><a routerLink="/listado">Lista de Mantenimientos</a></li>
        <li><a routerLink="/listadopersonal">Lista de personal</a></li>
      </ul>
    </nav>
  </header>
  <div class="fondo"><img src="https://www.ptchronos.com/sites/ptsa_ptchronos/files/styles/desktop_1920w/public/images/Training1098.CR2_V2.jpg?h=eafe42ff&itok=frLOOi0a" width="1739px" height="850px"></div>
<footer>
  <p>&copy; 2024 Nuestra Empresa. Todos los derechos reservados.</p>
</footer>

</body>
</html>
