<h1 class="titulo">Registro Mantenimiento</h1>

<form [formGroup]="mantenimientoForm" (submit)="onSubmit()">
  <input type="text" formControlName="usuario" placeholder="Usuario">
  <select formControlName="tipo_mantenimiento" placeholder="tipo de mantenimiento">
    <option value="" disabled selected>Tipo de mantenimiento</option>
    <option value="Preventivo">Preventivo</option>
    <option value="Correctivo">Correctivo</option>
    <!-- Agrega más opciones según sea necesario -->
  </select>
  <input type="text" formControlName="descripcion" placeholder="Descripcion">
  <select formControlName="area_solicitante" placeholder="Area">
    <option value="" disabled selected>Área solicitante</option>
    <option value="Recepción">Recepción</option>
    <option value="Industrial">Industrial</option>
    <option value="Gestion Administrativa">Gestión Administrativa</option>
    <!-- Agrega más opciones según sea necesario -->
  </select>
  <select formControlName="urgencia" placeholder="Urgencia" >
    <option value="" disabled selected>Urgencia</option>
    <option value="Baja">Baja</option>
    <option value="Media">Media</option>
    <option value="Alta">Alta</option>
    <!-- Agrega más opciones según sea necesario -->
  </select>
  <select formControlName="estado" placeholder="Estado">
    <option value="" disabled selected>Estado</option>
    <option value="Pendiente">Pendiente</option>
  </select>
  <button type="submit" class="btn btn-primary" [disabled]="mantenimientoForm.invalid">Guardar</button>
</form>
